<div class="faq-title text-center pb-3 pt-2">
  <h5>GESTION DE USUARIOS</h5>
</div>
<div class="card-rounded card-header">
  <div class="ml-2">
    <a (click)="nuevo()" class="icon-hover icon-color-success">
      <i class="fas fa-plus fa-lg mr-2"></i>Usuario</a
    >
  </div>
  <div>
    <label>Periodo de atenciôn</label>
    <p-calendar
      [inputStyle]="{ height: '35.1px' }"
      class="mr-2"
      [(ngModel)]="fechaDesde"
      (onSelect)="actualizarFechaDesde($event)"
      tabindex="0"
      [locale]="es"
      dateFormat="dd/mm/yy"
      [readonlyInput]="false"
    >
      <ng-template pTemplate="date" let-date>
        <span
          style="
            border-radius: 50%;
            padding: 0.25em;
            width: 1.75em;
            height: 1.75em;
            display: block;
          "
          >{{ date.day }}</span
        >
      </ng-template>
    </p-calendar>
    <label class="mr-2 mt-1">Período hasta :</label>
    <p-calendar
      [inputStyle]="{ height: '35.1px' }"
      class="mr-2"
      [(ngModel)]="fechaHasta"
      (onSelect)="actualizarFechaHasta($event)"
      tabindex="0"
      [locale]="es"
      dateFormat="dd/mm/yy"
      [readonlyInput]="false"
    >
      <ng-template pTemplate="date" let-date>
        <span
          style="
            border-radius: 50%;
            padding: 0.25em;
            width: 1.75em;
            height: 1.75em;
            display: block;
          "
          >{{ date.day }}</span
        >
      </ng-template>
    </p-calendar>
    <a (click)="exportarExcel()" class="icon-hover icon-color-success">
      <i class="fas fa-plus fa-lg mr-2 ml-4"></i>Exportar a excel</a
    >
  </div>
</div>
<div class="row m-3">
  <p-table
    #dt
    class="pt-2"
    tableStyleClass="prime-table"
    selectionMode="single"
    [columns]="cols"
    [value]="elementos"
    [(selection)]="selecteditems"
    [loading]="loading"
    columnResizeMode="expand"
    [responsive]="true"
    scrollHeight="500px"
    [scrollable]="true"
    styleClass="ui-table-customers"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 30%" pSortableColumn="nombreyapellido">
          Nombre <p-sortIcon field="nombreyapellido"></p-sortIcon>
        </th>
        <th style="width: 30%" pSortableColumn="email">
          Usuario <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th style="width: 10%">Puesto</th>
        <th style="width: 10%">Asociar</th>
        <th style="width: 10%">Reglas</th>
        <th style="width: 10%">Permisos</th>
        <th style="width: 10%">Contraseña</th>
        <th style="width: 10%">Acción</th>
      </tr>
      <tr>
        <th>
          <input
            pInputText
            type="text"
            (input)="dt.filter($event.target.value, 'name', 'startsWith')"
            placeholder=""
            class="ui-column-filter col-12"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="dt.filter($event.target.value, 'country.name', 'contains')"
            placeholder=""
            class="ui-column-filter col-12"
          />
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-elementos>
      <tr style="height: 20px">
        <td style="width: 30%">{{ elementos.nombreyapellido }}</td>
        <td style="width: 30%">{{ elementos.email }}</td>
        <td style="width: 10%">
          <a (click)="editarSector(elementos)" class="icon-hover">
            <i class="fas fa-concierge-bell icono-info fa-lg"></i
          ></a>
        </td>
        <td style="width: 10%">
          <a (click)="editarSectorAsociacion(elementos)" class="icon-hover">
            <i class="fas fa-network-wired icono-secondary fa-lg"></i
          ></a>
        </td>
        <td style="width: 10%">
          <a (click)="editarReglas(elementos)" class="icon-hover">
            <i class="fas fa-pencil-ruler icono-danger fa-lg"></i
          ></a>
        </td>
        <td style="width: 10%">
          <a (click)="editarPermiso(elementos)" class="icon-hover">
            <i class="fas fa-sliders-h icono-success fa-lg"></i
          ></a>
        </td>
        <td style="width: 10%">
          <a (click)="editarPassword(elementos)" class="icon-hover">
            <i class="fas fa-unlock-alt icono-warning fa-lg"></i
          ></a>
        </td>
        <td style="width: 10%">
          <a (click)="buscar(elementos)" class="icon-hover">
            <i class="fas fa-pen icon-color-info fa-lg"></i
          ></a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
