$gray: #eee;
$white: #e9ecef;
$black: #333;
$active: #E74C3C;
$main: #e9ecef;

@media (min-width:701px){
.wrapper {
    
	width: 75%;
	height: 35%;
	//position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    border-radius:3px;
	margin: auto;	
	background-color: $white;
	box-shadow: 0 1px 1px rgba(109, 104, 117,0.12), 0 1px 2px rgba(109, 104, 117,0.12);
	display: flex;
  	align-items: center;
  	justify-content: left;
	overflow: hidden

}
.texto-llamador-sub {
    text-align:center;
    font-size:60px;
    font-family: 'Varela Round', sans-serif !important;
    color: #1a535c !important;
}

.texto-llamador {
    text-align:center;
    font-size:100px;
    font-family: 'Varela Round', sans-serif !important;
    color: #ff6b6b !important;
}

}

@media (max-width:700px){
    .wrapper {
        width: 95%;
        height: 35%;
    }

    .texto-llamador-sub {
        text-align:center;
        font-size:50px;
        font-family: 'Varela Round', sans-serif !important;
        color: #1a535c !important;
    }

    .texto-llamador {
        text-align:center;
        font-size:60px;
        font-family: 'Varela Round', sans-serif !important;
        color: #ff6b6b !important;
    }

}

.main {
    position: relative;
    height: auto;
    min-height: 100% !important;
}





.texto-notificacion {
    text-align:center;
    font-size:60px;
    font-family: 'Varela Round', sans-serif !important;
    color: #90be6d !important;
}

.button-text {
    font-size:32px;
    font-family: 'Varela Round', sans-serif !important;
}



.button-llamador{
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 3em;
    opacity: 1;
    background-color: #ffffff;
   
    border: 1px solid rgba(22, 76, 167, 0.6);
    span{
        color: rgba(22, 76, 167, 1);
        font-size:32px;
        font-family: 'Varela Round', sans-serif !important;
        font-weight: 500;
        letter-spacing: 0.7px;
    }
        
    &:hover{
        animation: rotate 0.7s ease-in-out both;
        span{
            animation: storm 0.7s ease-in-out both;
            animation-delay: 0.06s
        }
            
    } 
        
      
      
  @keyframes rotate{
       0%{
        transform: rotate(0deg) translate3d(0, 0, 0)
       }
          
      25%{
        transform: rotate(3deg) translate3d(0, 0, 0)
      }
          
      50%{
        transform: rotate(-3deg) translate3d(0, 0, 0)
      }
          
      75%{
        transform: rotate(1deg) translate3d(0, 0, 0)
      }
          
      100%{
        transform: rotate(0deg) translate3d(0, 0, 0) 
      }
          
  }


  @keyframes storm {
       0%{
        transform: translate3d( 0, 0, 0) translateZ(0)
       }
          
      25%{
        transform: translate3d( 4px, 0, 0) translateZ(0)
      }
          
      50%{
        transform: translate3d( -3px, 0, 0) translateZ(0)
      }
          
      75%{
        transform: translate3d( 2px, 0, 0) translateZ(0)
      }
          
      100%{
        transform: translate3d( 0, 0, 0) translateZ(0) 
      }
          
  } 
  
  }