$gray: #eee;
$white: #e9ecef;
$black: #333;
$active: #E74C3C;
$main: #e9ecef;

@media (min-width:701px){
.wrapper {
    
	width: 75%;
	height: 35%;
	//position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    border-radius:3px;
	margin: auto;	
	background-color: $white;
	box-shadow: 0 1px 1px rgba(109, 104, 117,0.12), 0 1px 2px rgba(109, 104, 117,0.12);
	display: flex;
  	align-items: center;
  	justify-content: left;
	overflow: hidden

}
.texto-llamador-sub {
    text-align:center;
    font-size:60px;
    font-family: 'Varela Round', sans-serif !important;
    color: #1a535c !important;
}

.texto-llamador {
    text-align:center;
    font-size:100px;
    font-family: 'Varela Round', sans-serif !important;
    color: #ff6b6b !important;
}

}

@media (max-width:700px){
    .wrapper {
        width: 95%;
        height: 35%;
    }

    .texto-llamador-sub {
        text-align:center;
        font-size:50px;
        font-family: 'Varela Round', sans-serif !important;
        color: #1a535c !important;
    }

    .texto-llamador {
        text-align:center;
        font-size:60px;
        font-family: 'Varela Round', sans-serif !important;
        color: #ff6b6b !important;
    }

}

.main {
    position: relative;
    height: auto;
    min-height: 100% !important;
}





.texto-notificacion {
    text-align:center;
    font-size:60px;
    font-family: 'Varela Round', sans-serif !important;
    color: #90be6d !important;
}

.button-text {
    font-size:32px;
    font-family: 'Varela Round', sans-serif !important;
}


